*{
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.app {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  font-family: 'Acme', sans-serif;
}

.logo-wrap span {
  color: #2ebebe;
}

.nav-wrap {
  width: 50%;
}

nav {
  padding: 10px 10px;
  display: flex;
  margin: auto auto;
  justify-content: space-evenly;
}

nav .tab a {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
}

nav .tab .active,
nav .tab a:hover {
  color: #2ebebe;
}

.typed{
margin: 10px auto;
background-color: black;
text-align: center;
font-size: 1.2em;
font-family: 'Handlee';
color: #2ebebe;
border-radius: 10px;
}

.typed-cursor {
color: white;
}